/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/styles.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.styles_home__GE_51 {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.styles_home__GE_51 h1 {
  line-height: 1;
}

@media screen and (min-width: 400px) {
  .styles_home__GE_51 {
  }
}

@media (min-width: 640px) {
  .styles_home__GE_51 h1 {
    font-size: 3em;
  }
}

