/* 
none    none                                    < 640px
sm      @media (min-width: 640px)               >= 640px
md      @media screen and (min-width: 768px)    >= 768px
lg      @media screen and (min-width: 1024px)   >= 1024px
xl      @media screen and (min-width: 1280px)   >= 1280px
2xl     @media screen and (min-width: 1536px)   >= 1536px
*/

html {
  height: 100%;
}

body {
  height: 100%;
}

.page {
  max-width: 1440px;
  margin: 0.75rem;
}

@media screen and (min-width: 768px) {
  .page {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  grid-column: 2 / 3;
}

:where(h1, h2, h3, h4, h5, h6) {
  color: #3e5671;
}

.icon {
  margin-right: 1rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #eeeeee;
  font-size: 0.75rem;
  text-align: center;
}
