/* 
none    none                                    < 640px
sm      @media (min-width: 640px)               >= 640px
md      @media screen and (min-width: 768px)    >= 768px
lg      @media screen and (min-width: 1024px)   >= 1024px
xl      @media screen and (min-width: 1280px)   >= 1280px
2xl     @media screen and (min-width: 1536px)   >= 1536px
*/

html {
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.5;
}

.page-wrapper {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  /* height: 100%; */
  max-width: 1440px;
  margin: 0.75rem;
}

.home {
  display: grid;
  align-items: center;
  height: 100%;
  /* background-color: #3e5671; */
}

@media screen and (min-width: 400px) {
  .home {
    justify-content: center;
  }
}

@media screen and (min-width: 640px) {
  .page-wrapper {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .page-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

/* h1 {
  grid-column: 2 / 3;
} */

.icon {
  margin-right: 1rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #eeeeee;
  font-size: 0.75rem;
  text-align: center;
}

.home {
  /* .content { */
  /* height: max-content; */
  /* padding: 2rem; */
  /* border-radius: 1rem; */
  /* background-color: #e65252; */
  /* } */

  & h1 {
    font-size: 3rem;
  }
}
