/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/resume/styles.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.styles_resumeHeading__wE9sE {
  padding-bottom: 0.75rem;
  border-bottom: 3px solid #3e5671;
  margin-bottom: 1em;
  line-height: 0.75;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.styles_resumeHeading2__976uY {
  padding-bottom: 0.15rem;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #3e5671;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.styles_sidebar__gWEsh .styles_resumeHeading2__976uY {
  margin-bottom: 1em;
  border-bottom: 2px solid #cccccc;
  color: #cccccc;
}

.styles_section___TEkQ {
  margin-bottom: 1em;
}

.styles_section___TEkQ:last-of-type {
  margin-bottom: 0;
}

.styles_sidebar__gWEsh {
  display: none;
}

.styles_profileImage__ERlXj {
  display: none;
}

.styles_contact__haqtX a:link,
.styles_contact__haqtX a:visited {
  color: #cccccc;
}

.styles_employmentRole__wqlOQ {
  color: inherit;
  font-size: 1.15em;
  font-weight: 400;
}

.styles_responsibilities__zhW8I {
  margin-left: 2rem;
  list-style-type: disc;
}

.styles_contactMethod__E68ca {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.styles_contactMethod__E68ca:last-of-type {
  margin-bottom: 0;
}

.styles_icon__Sn2GB {
  padding: 0.3rem;
  background-color: #cccccc;
  border-radius: 1rem;
  color: #3e5671;
  font-size: 0.75rem;
  width: 0.75rem;
}

.styles_employmentDetails__HVt3k {
  margin-bottom: 1em;
}

.styles_employer__K9em9 {
  color: #3e5671;
  font-weight: 500;
}

.styles_durationLocation__n2gsi {
  display: flex;
}

.styles_duration__ceQhg,
.styles_location__P4HiP {
  flex: 1 1;
}

.styles_showInfoButton__PeRYE {
  padding: 10px;
  border: none;
  color: #3e5671;
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  .styles_resume__BKVyP {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content auto;
    grid-gap: 2rem;
    gap: 2rem;
    margin: 0 auto;
  }

  .styles_section___TEkQ {
    margin-bottom: 1.5em;
  }

  .styles_sidebar__gWEsh {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding: 2rem 1.25rem;
    background-color: #3e5671;
    color: #cccccc;
  }

  .styles_resumeHeading__wE9sE {
    margin-bottom: 0;
    margin-right: 1.25rem;
    margin-top: 2rem;
    font-size: 2em;
  }

  .styles_resumeHeading2__976uY {
    margin-bottom: 1em;
  }

  .styles_resumeDetails__Rps6_ {
    grid-column: 2 / 3;
    padding-bottom: 2rem;
    padding-right: 1.25rem;
  }

  .styles_resumeDetails__Rps6_ .styles_keySkills__bPfZR,
  .styles_resumeDetails__Rps6_ .styles_education__wiG2_ {
    display: none;
  }

  .styles_resumeDetails__Rps6_ .styles_contact__haqtX {
    display: none;
  }

  /* Professional Summary */

  /* Work History */
  .styles_employmentDetails__HVt3k {
    margin-bottom: 1.5em;
  }

  /* Contact Information /*
  
  /* Skills */

  /* Education */
  .styles_degree__CNlc_ {
    margin-bottom: 0.15em;
    font-weight: 600;
  }

  .styles_gradDate__KdFE8 {
    font-weight: normal;
  }
}

@media screen and (min-width: 768px) {
  .styles_resumeHeading__wE9sE {
    font-size: 3.25em;
  }
}

@media screen and (min-width: 1440px) {
  .styles_resumeHeading__wE9sE {
    margin-right: 0;
  }

  .styles_resumeDetails__Rps6_ {
    padding-right: 0;
  }
}

